{% extends 'app/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{%include "app/navPlantilla.html"%}
{% load crispy_forms_tags %}
{% load static %}
<div style="background-repeat: round ; background-image: url('{% static 'app/img/zelda.jpg' %}');">
    <br><br><br><br>
    <div class="container2">
        <div class="row">
            <div class="col-lg-16 ">
                <div class="card">
                    <div class="card-body bg-white">
                        <h2 class="text-dark text text-center">Ingresa tus Credenciales</h2>
                        <hr class="text-dark">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form | crispy}}
                            <br>
                            <a href="{% url 'index' %}">Ir al inicio</a> |
                            <a href="{% url 'registro' %}">Registrate</a>
                            <input type="submit" value="Ingresar" class="btn btn-success float-end">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>


{% endblock %}