{% extends "app/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static%}
<br>
<div class="fondo " >
  <div class="container">
    <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{% url 'catalogo' %}"><img src="{% static 'app/img/sw2.jpg'%}" class="img-fluid"></a>
        </div>
        <div class="carousel-item">
          <a href="{% url 'catalogo' %}"><img src="{% static 'app/img/xbb.jpg' %}" class="img-fluid"></a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
    <div class="Card-module_image-container__60mH1 p-md-0">
      <div class="lazyload-wrapper ">
        <div class=" indexMenu ">
          <div class="indexMenu-juegos">

            <img src="{% static 'app/img/bannerIndexRs.png'%}" class="banner-index" alt="BANNER">
            <img src="{% static 'app/img/bannerIndexNintendo.jpg'%}" class="banner-index" alt="BANNER">
            <img src="{% static 'app/img/bannerIndexPlao.jpg'%}" class="banner-index" alt="BANNER">
            
          </div>
          <div class="indexMenu-Plataforma">
            <img src="{% static 'app/img/bannerXbox.jpg'%}" class="banner-index" alt="BANNER">
            <img src="{% static 'app/img/bannerNintendo.jpg'%}" class="banner-index" alt="BANNER">
            <img src="{% static 'app/img/bannerPlay.jpg'%}" class="banner-index" alt="BANNER">
          </div>


        </div>
      </div>

    </div>>
  </div>
</div>
{% endblock %}