{% extends "app/base.html" %}

{% block title %}Borrar Producto!!{% endblock %}

{% block content %}
<br><br><br>
<div class="fondo1">
    <br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Eliminar Producto</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <p class="delete-msg text-center mb-6">¿Realmente quieres ELIMINAR: {{ object.nombre }}?</p>
                            <div class="text-center">
                                <button class="btn btn-danger mx-5" type="submit">SI</button>
                                <a href="{% url 'listarproducto' %}" class="btn btn-success mx-5">NO</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>


{% endblock %}